{% extends 'base.html' %}

{% block content %}
<h1 class="section_title">Welcome to my website!</h1>
<div class="center_container">
    <div class="text_block">
        <a>Irure quis duis cillum aliquip quis duis nisi. Esse excepteur cillum occaecat minim proident occaecat officia elit dolore velit veniam nisi. Aliquip Lorem in consectetur esse.

            Deserunt qui laborum deserunt occaecat mollit aliqua Lorem occaecat tempor culpa voluptate est. Aliquip reprehenderit ad voluptate laboris reprehenderit magna nulla occaecat amet voluptate nisi. Nostrud ex veniam eiusmod Lorem cupidatat amet amet amet mollit sint reprehenderit fugiat. Laborum excepteur irure commodo eu sint aute nostrud aliqua elit velit excepteur minim laboris labore. Qui enim nostrud adipisicing enim cupidatat consectetur fugiat cillum mollit do duis elit. Cupidatat est dolor magna ut consectetur irure.
        
            Commodo cillum quis velit aute pariatur irure Lorem quis magna et est. Occaecat qui eiusmod aliquip occaecat elit velit est in officia occaecat aute ex mollit mollit. Ut nostrud reprehenderit est consectetur irure eiusmod minim cupidatat qui. Officia fugiat pariatur labore esse dolor.
        </a>
    </div>
</div>
{% endblock %}